body{
    margin: 0;
}



*[target=hangmanGame]{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.blackBackground{
    background-color: black;
}
#hangmanContainer[target=hangmanGame]{
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    align-content: flex-start;
}
#hangmanTitle[target=hangmanGame]{
    width: 100%;
    font-size: 1.5em;
}
#hangmanInput[target=hangmanGame]{
    width: 55%;
    font-size: 1em;
    padding: 0.3em;
}
#chancesBoard[target=hangmanGame]{
    width:55%;
    justify-content: space-between;
}
.chancesButton[target=hangmanGame]{
    padding: 0.3em;
    background-color: chartreuse;
    border: none;
    width: 30%;
    align-items: center;
    margin: 1em 0;
    font-size: 1em;
}


#gameContent[target=hangmanGame]{
    height: 80%;
    width: 100%;
    justify-content: space-evenly;
}
#hangmanPassword[target=hangmanGame]{
    width: 100%;
    font-size: 2em;
    color: white;
    letter-spacing: 5px;
    padding: 0.5em;
}
#hangmanImageContainer[target=hangmanGame]{
    padding: 1em;
    width: 45%;
    align-items: center;
}
#hangmanImage[target=hangmanGame]{
    font-size: 10em;
    color: white
}
#hangmanBoard[target=hangmanGame]{
    width: 45%;
    flex-wrap: wrap;
    gap: 0.5em;
    align-content: center;
    padding: 1em;
}
.letter[target=hangmanGame]{
    height: 60px;
    width: 60px;
    font-size: 1.1em;
    border-radius: 8px;
    align-items: center;
    transition: opacity 0.4s;

}
#resetButton[target=hangmanGame]{
    border-radius: 12px;
    padding: 0.5em 1em;
    color: white;
    font-size: 1em;
    background-color: rgb(236, 60, 60);
}
.hide[target=hangmanGame]{
    opacity: 0;
}